// Place all the styles related to the campfire controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color: #50303d;
$font-color: #cab871;

@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: Roboto;
}

main {
  max-width: 700px;
  margin: auto;
  margin-top: 2em;
}

h1 {
  font-family: Righteous;
  font-size: 3em;
  text-align: center;
}

label, input {
  display: block;
}

.field {
  margin-bottom: 1em;
}

input {
  border: none;
  width: 100%;
  padding: 1em;
  color: $font-color;
  background-color: darken($bg-color, 8%);
  font-size: 1.15em;
  border-radius: 10px;
  margin-top: 5px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: lighten($font-color, 8%);
    font-style: italic;
  }
}

.actions {
  margin-bottom: 2em;
  
  button {
    display: block;
    border: none;
    text-transform: uppercase;
    background-color: $font-color;
    color: darken($bg-color, 8%);
    font-weight: bold;
    padding: 0.5em 1em;
  }
}

article {
  font-size: 1.3em;
  margin-bottom: 1em;

  .username {
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }
}
